.img {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.img-cont {
    display: flex;
    flex-wrap: wrap;
}

.img-wrap {
    position: relative;
}

.icon {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
}

.add-icon {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}